/* fonts */

$main-body-font: Arial,
sans-serif;
$h1-font: 'Damion';
$people-font: Impact,
sans-serif;

/* colors */

$nav-color: #000;
$nav-hover:#B8860B;
$white: #FFF;
$light-grey: #EEE;
$dark-grey: #999;
$grey: #CCC;
$very-dark-grey: #666;
$charcoal: #333;
$black: #000;
$blue: #4169E1;
$gold: #FFD700;
$very-very-dark-grey: #212121;
$lavendar: #CCD;